.output/
.dependencies/
.buildartifacts/
.alcache/
.altemplates/
.snapshots/
*.ps1
*.app
*.flf
*.bclicense
.DS_Store
Thumbs.db
TestResults*.xml
bcptTestResults*.json
BuildOutput.txt
rad.json
cache_*
~$*
